{% extends "base.html" %} 

{% block title %} Alterar senha {% endblock %}

{% block content %}
<div>
    <div>
        <h1> Alterar a Senha</h1>
        <p> Use o formulário para Alterar sua senha</p>
        <form method="post">
            {% csrf_token %}

            {% for field in form %}

            <div>
                <label> {{ field.label_tag }}</label>
                {{ field }}
                {% if field.error %}
                <div>
                    {{ field.error|striptags }}
            </div>
            {% endif %}
        </div>
            {% endfor %}
            <button type="submit">Salvar nova senha</button>
        </form>
    </div>
</div>
{% endblock %}